<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223556988652-8fjmdn878a69n76p1ktdtpmo8rmjtafs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223556988652-8fjmdn878a69n76p1ktdtpmo8rmjtafs</string>
	<key>API_KEY</key>
	<string>AIzaSyCEtCe14fzXBZyLkURaMKQS__ISqk8lWX0</string>
	<key>GCM_SENDER_ID</key>
	<string>223556988652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doublem.gotaxi</string>
	<key>PROJECT_ID</key>
	<string>go-mamma-uat</string>
	<key>STORAGE_BUCKET</key>
	<string>go-mamma-uat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223556988652:ios:80dcf3f86595605b407fc9</string>
</dict>
</plist>